body {
    background-color: #181818;
}

.content {
    width: max-content;
    margin: 250px auto 0;
}
.title_explanation {
    max-width: 1200px;
    font-size: 30px;
    color: white;
}   
.options {
    max-width: 400px;
    margin: 50px auto 0;
    font-size: 15px;
}

.radiobtn {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.radiobtn label {
    display: block;
    background: #ff9191;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #ff6b6b;
    margin-bottom: 5px;
    cursor: pointer;
}
.radiobtn label:after, .radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #ff6e6e;
}
.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}
.radiobtn input[type="radio"]:checked + label {
    background: #ff6e6e;
    animation-name: blink;
    animation-duration: 1s;
    border-color: white;
}
.radiobtn input[type="radio"]:checked + label:after {
    background: #ff0000;
}
.radiobtn input[type="radio"]:checked + label:before {
    width: 20px;
    height: 20px;
}

@keyframes blink {
    0% {
        background-color: #ff6e6e;
   }
    10% {
        background-color: #ff6e6e;
   }
    11% {
        background-color: #ff6b6b;
   }
    29% {
        background-color: #ff6b6b;
   }
    30% {
        background-color: #ff6e6e;
   }
    50% {
        background-color: #ff6b6b;
   }
    45% {
        background-color: #ff6e6e;
   }
    50% {
        background-color: #ff6b6b;
   }
    100% {
        background-color: #ff6e6e;
   }
}
